@charset "UTF-8";
body {
  overflow-x: hidden;
  height: 100%; }

.cabecalho {
  margin-bottom: 52px; }

#topo {
  height: 100%;
  background: #d9ecfc;
  width: 100%; }
  #topo .img-logo {
    margin-top: 20px;
    width: 300px; }
  #topo .menu-principal {
    z-index: 999;
    border: none;
    border-bottom: 2px solid #999; }
  #topo .icone {
    width: 100%; }
  
  #topo .icon-header {
    float: left;
    height: 20px;
    width: 20px; }
#topo .iconeMax {
    font-size: 16px;  }
.ret-inutil {
  height: 50px; }

.texto-header {
  margin-top: 18%;
  font-weight: bold; }
  .texto-header span {
    margin-top: 3px;
    display: block; }
    .texto-header span:first {
      margin-top: 0; }

.affix {
  top: 0px;
  width: 100%;
  z-index: 9999 !important; }

  /*@media (min-width: 768px) {
   .navbar-nav.navbar-center {
     position: absolute;
     left: 50%;
     transform: translatex(-50%);
   }
}*/
/* Altera menu para mobile a partir de 992px */
@media (max-width: 992px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
/* Alinhar no centro */
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center; }

  .navbar-nav > li {
    float: none;
    display: inline-block;
    margin-left: 2%; }

  .navbar-nav > li.navbar-right {
    float: right !important; } }
/*
@media only screen and (max-width : 992px) {
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav {
        float: none;
    }
    .nav.navbar-nav {
        clear: both;
        float: left;
        margin: 0 0 0 -15px;
        width: 100%;
    }
}*/
/* Ajusta tamanho da logo */
@media only screen and (max-width: 991px) {
  #topo {
    height: 100%; }
    #topo .texto-header {
      text-align: center; }
    #topo .navbar-header .navbar-toggle {
      margin-top: 18px; }
    #topo .navbar-header .navbar-brand {
      height: 70px;
      border: none;
      padding: 8px; }
    #topo .navbar-header .logo-dispositivo-movel {
      height: 55px; } }
/* Não sei ainda
@media only screen and (min-width : 768px) and (max-width: 991px) {
	#topo{
		.nav{
			margin-top:12px;
		}
	}
}
*/
/* Fim do Header - Conteúdo do topo */
.lista {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Inicio do Footer - Conteúdo do rodapé */
#rodape {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #8fcbfe 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #8fcbfe 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #8fcbfe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8fcbfe',GradientType=0 );
  padding-bottom: 20px;
  margin-top: 30px; }
  #rodape .logo-rodape {
    height: 150px;
    margin: 0 auto; }
  #rodape .texto-header {
    width: 260px;
    margin: 0 auto; }
  #rodape .box-facebook {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px; }
  #rodape .menu-rodape {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    text-align: center; }
    #rodape .menu-rodape a {
      color: #111; }
    #rodape .menu-rodape a:hover {
      text-decoration: none;
      color: #666; }
    #rodape .menu-rodape li {
      margin-top: 10px;
      font-weight: bold;
      font-size: 1.3em; }

#direitos {
  background: #3da3fa;
  height: 60px; }
  #direitos .texto-direitos {
    margin-top: 10px;
    text-align: center;
    font-weight: bold; }

/*# sourceMappingURL=base.css.map */
